{
  "tabWidth": 2,
  "semi": false,
  "bracketSameLine": false,
  "printWidth": 120,
  "svelteStrictMode": false,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "overrides": [
    { "files": ".prettierrc", "options": { "parser": "json" } },
    { "files": "*.svelte", "options": { "parser": "svelte" } }
  ]
}
