{% extends "tomato/submit/base.html" %}

{% load submit %}

{% block content %}
  <em>{% if is_logged_in %}Logged in! ({{ email }}){% else %}Not logged in.{% endif %}</em><br>

  {% if email_sent %}
    TODO reload form link

    {% if DEBUG and token %}
      {# XXX should be a templatetag for submit.localhost #}
      <a href="{% submit_url 'validate_token' token=token %}">{% submit_url 'validate_token' token=token %}</a>
    {% endif %}
  {% else %}
    <form method="post" action="{% submit_url "login" %}">
      {% csrf_token %}

      <p>
        First, provide your email address in the form below.
      </p>

      <table>
        {{ form.as_table }}
      </table>

      <button type="submit">Click to verify your email address</button>
    </form>
  {% endif %}
{% endblock %}
