<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Tomato Radio Automation</title>
  <link href="styles.css" rel="stylesheet">
  <script src="script.js" defer></script>
</head>
<body x-data x-name="body">
  <template x-if="!$store.conn.connected">
    {% include 'login.njk' %}
  </template>
  <template x-if="$store.conn.connected">
    <div>
      <div x-name="tester-buttons" class="flex flex-col items-center justify-center space-y-2 min-h-screen" x-show="$store.conn.connected">
        <span class="btn btn-lg" @click="$store.conn.logout()">Logout</span>
        <span class="btn btn-lg" @click="$store.conn.sync()">Sync</span>
        <template x-if="$store.conn.hasAssets()">
          <div
            class="flex flex-col items-center justify-center space-y-2"
            x-data="{asset: $store.conn.assets()[Math.floor(Math.random() * $store.conn.assets().length)]}"
          >
            <span class="btn btn-lg" @click="asset = $store.conn.assets()[Math.floor(Math.random() * $store.conn.assets().length)]">New Track</span>
            <audio class="w-80" :src="asset.file.localUrl" controls autoplay></audio>
            <span x-text="`Track #${asset.id}: ${asset.name}`"></span>
          </div>
        </template>
      </div>
    </div>
  </template>
</body>
</html>
