@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    @apply no-animation;
  }
}

:root {
  font-size: 0.9em;
}

svg {
  @apply h-16 w-16;
}

.tomato-pulse {
  animation: tomato-pulse 1.5s infinite;
  --pulse-color: var(--su);
  --pulse-size: 15px;
}

@keyframes tomato-pulse {
  0% {
    box-shadow: 0 0 0 0 oklch(var(--pulse-color) / 0.85);
  }

  85% {
    box-shadow: 0 0 0 var(--pulse-size) oklch(var(--pulse-color) / 0);
  }

  100% {
    box-shadow: 0 0 0 0 oklch(var(--pulse-color) / 0);
  }
}

.tomato-flash-bg {
  animation: tomato-flash-bg 2s linear infinite;
  --flash-bg-color: var(--er);
}

@keyframes tomato-flash-bg {
  0% {
    background-color: unset;
  }
  50% {
    background-color: oklch(var(--flash-bg-color));
  }
  100% {
    background-color: unset;
  }
}
