# misc
.DS_Store
*.code-workspace

# docs
/docs/site/

# client
/client/dist/
/client/node_modules/
/client/out/
/client/scripts/arch/*.pkg.tar.zst
/client/scripts/arch/pkg/
/client/scripts/arch/src/

# server
__pycache__/
/server/.env
/server/docker-compose.override.yml
/server/serve/
