# misc
.DS_Store
.vscode
*.code-workspace

# docs
/docs/site/

# client
/client/.npmrc
/client/dist/
/client/node_modules/
/client/out/

# server
__pycache__/
/server/.env
/server/docker-compose.override.yml
/server/nginx/local-ca/
/server/serve/
/server/tomato/static/admin/tomato/configure_live_clients/node_modules/

# controller
/controller/lib/
/controller/test/node_modules/
/controller/settings.toml
