{% extends 'admin/extra/base.html' %}

{% block extrahead %}
  {{ block.super }}
  <style>
    #configure-live-clients-iframe {
      border: 0;
      width: 100%;
      min-height: 85vh;
    }
  </style>
  <script>
    const resizeIframe = (iframe) => {
      iframe.style.height = `${iframe.contentWindow.document.body.scrollHeight + 35}px`;
    }

    window.addEventListener('DOMContentLoaded', () => {
      const iframe = document.getElementById("configure-live-clients-iframe")
      iframe.onload = () => {
        setInterval(() => resizeIframe(iframe), 50)
      }
    })
  </script>
{% endblock %}

{% block content %}
  <iframe
    id="configure-live-clients-iframe"
    src="{% url 'admin:extra_configure_live_clients_iframe' %}">
  </iframe>
{% endblock %}
