{% extends 'admin/extra/base.html' %}

{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">

  <script src="{% static "file_form/file_form.min.js" %}"></script>
  <script src="{% static "file_form/auto_init.js" %}"></script>
  <link rel="stylesheet" href="{% static "file_form/file_form.css" %}">
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="module aligned">
      <h2>Export asset data</h2>
      <input type="hidden" name="action" value="export">
      <div class="form-row">
        Click the button below to download an export of all asset data currently in {{ station_name }}.
      </div>
    </fieldset>
    <div class="submit-row">
      <input type="submit" class="default" value="Download export of all asset files">
    </div>
  </form>

  <form method="POST" id="file-form" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
      <h2>Import asset data</h2>
      <input type="hidden" name="action" value="import">
      <div class="form-row">
        Select a file that containers <em>previously exported</em> asset data.
      </div>
      <div class="form-row">
        {{ import_upload_form.file.errors }}
        {{ import_upload_form.file }}
        {% for hidden in import_upload_form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
      </div>
    </fieldset>
    <div class="submit-row">
      <input type="submit" class="default" value="Upload a previous export of ALL data files">
    </div>
  </form>
{% endblock %}
