DEBUG=1

# You *must* generate this before first run,
#    $ python -c 'import secrets; print(secrets.token_urlsafe(40))'
SECRET_KEY=

TIMEZONE=US/Pacific
DOMAIN_NAME=example.com
REQUIRE_STRONG_PASSWORDS=0

# Email configuration
EMAIL_ADMIN_ADDRESS='admin@example.com'
EMAIL_HOST=smtp.example.com
EMAIL_USERNAME=username
EMAIL_PASSWORD=password
EMAIL_FROM_ADDRESS='Person Name <person@example.com>'
#EMAIL_PORT=587
#EMAIL_USE_TLS=1

# Required for cerbot to function properly
CERTBOT_EMAIL=user@example.com
# Use local certificate authority for nginx (requires docker-compose.dev.yml symlinked)
NGINX_USE_LOCAL_CA=1
