{% extends 'admin/base_site.html' %}

{# Disable dark mode #}
{% block dark-mode-vars %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
  .help {
    font-size: 12px !important;
    font-style: italic;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let forms = Array.from(document.querySelectorAll('.s3file')).map((input) => {
      return input.closest('form')
    })

    forms = new Set(forms)
    forms.forEach((form) => {
      form.addEventListener('submit', (event) => {
        event.preventDefault()

        let showProgress = false
        Array.from(form.querySelectorAll('.s3file')).map((input) => {
          showProgress = showProgress || input.files.length > 0
        })

        if (showProgress) {
          Array.from(form.querySelectorAll('input[type=submit], button[type=submit]')).forEach((button) => {
            button.disabled = true
          })

          if (!form.querySelector('progress')) {
            const elem = document.createElement('progress')
            elem.setAttribute('min', '0')
            elem.setAttribute('max', '1')
            elem.style.width = '100%'
            elem.style.height = '25px'
            form.insertBefore(elem, form.firstChild)
            form.addEventListener('progress', (event) => {
              elem.setAttribute('value', event.detail.progress)
            })
          }
        }
      })
    })
  })
</script>
{% endblock %}
