{% extends 'admin/base_site.html' %}

{% load static %}

{# Disable dark mode #}
{% block dark-mode-vars %}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {# TODO space mono fonts here? #}
  <link rel="icon" href="{% static 'tomato/tomato.ico' %}">
  <style>
    :root {
      --primary: #0aa0e1;
      --secondary: #03628c;
      --accent: #ffffff;
      --link-fg: #0a49a1;
      --link-selected-fg: #0a49a1;
    }

    .help {
      font-size: 13px !important;
      line-height: 1.2;
    }

    #nav-sidebar .module td .bulk-upload-addlink {
      margin-left: 5px;
    }

    #footer h5 {
      text-align: center;
    }

    .dff-uploader .dff-files {
      margin-left: 10px !important;
      max-width: 65em !important;
    }

    .module caption, .inline-group h2, thead th {
      text-transform: none;
      font-size: 13px
    }
  </style>
  {{ tomato_json_data|json_script:"tomato-json-data" }}
  <script>
    const TOMATO_DATA = JSON.parse(document.getElementById('tomato-json-data').textContent)

    const getCookie = name => {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          let cookies = document.cookie.split(';')
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim()
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                  break
              }
          }
      }
      return cookieValue
    }

    document.addEventListener('DOMContentLoaded', () => {
      Array.from(document.querySelectorAll('.app-tomato.module .model-asset .addlink')).forEach(addLink => {
        const cell = addLink.closest('td')
        const link = document.createElement('a')
        link.classList.add('addlink', 'bulk-upload-addlink')
        link.text = 'Bulk upload'
        link.href = "{% filter escapejs %}{% url 'admin:tomato_asset_upload' %}{% endfilter %}"
        cell.append(link)
      })

      Array.from(document.querySelectorAll('.dismiss-message')).forEach(dismissLink => {
        dismissLink.addEventListener('click', async event => {
          event.preventDefault()
          const data = new FormData()
          data.append('id', dismissLink.dataset.messageId)
          // add form input from hidden input elsewhere on the page
          data.append('csrfmiddlewaretoken', getCookie('csrftoken'))
          await fetch("{% url 'dismiss_message' %}", {
              method: 'POST',
              body: data,
              credentials: 'same-origin',
          })
          dismissLink.parentElement.remove()
        })
      })
    })
  </script>
{% endblock %}

{% block messages %}
  {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message|capfirst }}
        {% if message.deliver_once is not None and not message.deliver_once %}
          <span>
            [<a href="#" class="dismiss-message" data-message-id="{{ message.id }}"><strong>Dismiss alert</strong></a>]
          </span>
        {% endif %}
      </li>
    {% endfor %}</ul>
  {% endif %}
{% endblock messages %}

{% block userlinks %}
  <a href="{{ help_docs_url }}" target="_blank">Help Docs</a>
  {% if not standalone_mode %}
    /
    {% if user.is_superuser %}
      <a href="{% url 'server_logs' %}" target="_blank">Server Logs</a> /
    {% endif %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content_subtitle %}
  {{ block.super }}
  {% if help_docs_text %}
    <p>{{ help_docs_text }}</p>
  {% endif %}
{% endblock %}

{% block footer %}
  {% now 'Y' as copyright_year %}
  <div id="footer">
    <hr/>
    <div class="container pull-left">
      <h5>
        <div>
          &copy; Copyright 2019{% if copyright_year|add:"0" > 2019 %}-{{ copyright_year }}{% endif %}
          <a href="https://jew.pizza" target="_blank">David Cooper</a> &amp; <a href="https://bmir.org" target="_blank">BMIR</a>.
        </div>
        <div>All rights reserved.</div>
      </h5>
    </div>
  </div>
{% endblock %}
