[Desktop Entry]
Name=Tomato Radio Automation
Comment=Tomato Radio Automation (Desktop App)
GenericName=Tomato Radio Automation
StartupWMClass=tomato-radio-automation
Exec=tomato %U
Icon=tomato
Type=Application
StartupNotify=false
Categories=GNOME;GTK;Utility;
