[Desktop Entry]
Name=Tomato Radio Automation
Comment=Tomato Radio Automation (Desktop App)
GenericName=Tomato Radio Automation
StartupWMClass=Tomato Radio Automation
Exec=/usr/lib/tomato/resources/start-tomato.sh %U
Icon=tomato
Type=Application
StartupNotify=false
Categories=Audio;Music;Player;AudioVideo;
