[Desktop Entry]
Name=Tomato Radio Automation
Comment=Tomato Radio Automation (Desktop App)
GenericName=Tomato Radio Automation
# Wonky on GNOME 43 with Wayland, so use X11 (or user preference) for now
#Exec=env ELECTRON_OZONE_PLATFORM_HINT=auto tomato %U
Exec=tomato %U
StartupWMClass=Tomato
Icon=tomato
Type=Application
StartupNotify=false
Categories=Audio;Music;Player;AudioVideo;
