{% extends 'admin/constance/change_list.html' %}

{% block extrahead %}
  {{ block.super }}

  <style>
    {% with widths='50 20 20 10' %}
      {% for width in widths.split %}
      #changelist table th:nth-child({{ forloop.counter }}),
      #changelist table td:nth-child({{ forloop.counter }}) {
        width: {{ width }}% !important;
        max-width: {{ width }}% !important;
      }
      {% endfor %}
    {% endwith %}
  </style>

  <script>
    const multipleChoiceFieldChanges = {
      'UI_MODES': 'Simple &amp; standard views'
    }

    document.addEventListener('DOMContentLoaded', () => {
      Array.from(document.querySelectorAll('.reset-link')).forEach(resetLink => {
        for (const [setting, defaultText] of Object.entries(multipleChoiceFieldChanges)) {
          if (resetLink.parentElement && resetLink.parentElement.querySelector(`#id_${setting}`)) {
            const row = resetLink.parentElement.parentElement
            row.children[1].innerHTML = `<p>${defaultText}</p>`
            resetLink.remove()
          }
        }
      })
    })
  </script>
{% endblock %}
