{% extends 'admin/tomato/change_list.html' %}

{% block extrahead %}
  {{ block.super }}
  <style>
    .play-asset-list-display.play-asset-alternate {
      /* Rotate to be more yellow for alternates */
      filter: hue-rotate(215deg);
    }
    .uploaded-on-date-filter {
      display: flex;
      align-items: baseline;
      gap: 4px;
      border-bottom: 1px solid var(--hairline-color);
    }

    #changelist .toplinks {
      border: 0;
    }
  </style>
{% endblock %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
        <a href="{% url 'admin:tomato_asset_upload' %}" class="addlink">
            Bulk upload {{ opts.verbose_name_plural }}
        </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block date_hierarchy %}
  {% if cl.date_hierarchy and cl.queryset.exists %}
    <div class="uploaded-on-date-filter">
      <div>Date uploaded filter:</div>
  {% endif %}

  {{ block.super }}

  {% if cl.date_hierarchy and cl.queryset.exists %}
    </div>
  {% endif %}
{% endblock %}
