{% extends 'admin/change_list.html' %}

{% block extrahead %}
  {{ block.super }}
  <style>
    .play-asset-list-display {
      font-size: 1.5em;
      font-family: var(--font-family-emoji);
    }
    .play-asset-list-display:focus {
      text-decoration: none;
      color: var(--link-fg);
    }

    .progress-time {
      display: inline-block;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 9999;
      background-color: #000;
      color: #fff;
      padding: 4px 8px;
      border-top-left-radius: 8px;
      font-family: var(--font-family-monospace);
      font-weight: bold;
    }

    .progress-container {
      position: fixed;
      z-index: 9999;
      height: 10px;
      width: 100vw;
      top: 0;
      background-color: #fff;
      border-bottom: 1px #000 solid;
      cursor: pointer;
    }
    .progress {
      height: 10px;
      background-color: #000;
    }
    .progress-hidden {
      display: none;
    }
  </style>
  <script>
    const prettyDuration = (duration) => {
      const h = Math.floor(duration / 3600)
      const m = Math.floor((duration % 3600) / 60)
      const s = Math.round(duration % 60)

      const part = (h > 0 ? [m, s] : [s]).join(':').replace(/\b(\d)\b/g, "0$1")
      return `${h > 0 ? h : m}:${part}`
    }

    document.addEventListener('DOMContentLoaded', () => {
      const progressTime = document.createElement('div')
      progressTime.classList.add('progress-time', 'progress-hidden')
      progressTime.textContent = '0:00 / 0:00'
      document.body.prepend(progressTime)

      const progress = document.createElement('div')
      progress.classList.add('progress-container', 'progress-hidden')
      progress.onclick = (event) => {
        // Is playing
        if (audio.currentTime > 0 && !audio.paused && !audio.ended && audio.readyState > 2) {
          const seek = (event.clientX - progress.offsetLeft) / progress.offsetWidth
          audio.currentTime = audio.duration * seek
        }
      }
      const progressBar = document.createElement('div')
      progressBar.classList.add('progress')
      progress.append(progressBar)
      document.body.prepend(progress)

      const playIcon = '\u25B6\uFE0F'
      const stopIcon = '\u23F9\uFE0F'

      let last = null
      let currentTime = '0:00'
      let duration = '0:00'

      const audio = new Audio()

      audio.onerror = audio.onended = audio.onpause = () => {
        progress.classList.add('progress-hidden')
        progressTime.classList.add('progress-hidden')
        duration = currentTime = '0:00'
        progressTime.textContent = '0:00 / 0:00'
        if (last) {
          last.textContent = playIcon
        }
      }

      audio.ontimeupdate = () => {
        currentTime = audio.currentTime
        progressBar.style.width = `${currentTime / audio.duration * 100}%`
        progressTime.textContent = `${prettyDuration(currentTime)} / ${prettyDuration(duration)}`
      }

      audio.ondurationchange = () => {
        duration = audio.duration
        progressTime.textContent = `${prettyDuration(currentTime)} / ${prettyDuration(duration)}`
      }

      Array.from(document.querySelectorAll('.play-asset-list-display')).forEach(play => {
        play.addEventListener('click', event => {
          event.preventDefault()
          audio.pause()

          if (last === play) {
            last = null
            play.textContent = playIcon
          } else {
            if (last !== null) {
              last.textContent = playIcon
            }
            last = play
            audio.src = play.href
            audio.play()
            progressBar.style.width = '0'
            progress.classList.remove('progress-hidden')
            progressTime.classList.remove('progress-hidden')
            play.textContent = stopIcon
          }
        })
      })
    })
  </script>
{% endblock %}
