### Pins ###
button = "GP17"  # Pin number for button
led = "GP16"  # Pin number for LED


### Debugging ###

# Debug mode, mounts drive and turns on serial console.
# Forced if button is pressed at boot time or on receipt of debug sysex MIDI message (see tester tool)
debug = false

# Debug messages get sent using MIDI sysex
sysex_debug_messages = false

# Enable auto-reload on file changes when debug = True
autoreload = true


### LED ###

# These defaults should be okay
pwm_min_duty_cycle = 0x0000
pwm_max_duty_cycle = 0xFFFF
pwm_frequency = 250

# In seconds
flash_period = 1.0
pulsate_period_slow = 2.25
pulsate_period_medium = 1.25
pulsate_period_fast = 0.6
